<div>
  <button appKeyboardKey="q"></button>
  <button appKeyboardKey="w"></button>
  <button appKeyboardKey="e"></button>
  <button appKeyboardKey="r"></button>
  <button appKeyboardKey="t"></button>
  <button appKeyboardKey="y"></button>
  <button appKeyboardKey="u"></button>
  <button appKeyboardKey="i"></button>
  <button appKeyboardKey="o"></button>
  <button appKeyboardKey="p"></button>
</div>
<div>
  <button appKeyboardKey="a"></button>
  <button appKeyboardKey="s"></button>
  <button appKeyboardKey="d"></button>
  <button appKeyboardKey="f"></button>
  <button appKeyboardKey="g"></button>
  <button appKeyboardKey="h"></button>
  <button appKeyboardKey="j"></button>
  <button appKeyboardKey="k"></button>
  <button appKeyboardKey="l"></button>
  <button class="special" (click)="onBackspace()">Del</button>
</div>
<div>
  <button appKeyboardKey="z"></button>
  <button appKeyboardKey="x"></button>
  <button appKeyboardKey="c"></button>
  <button appKeyboardKey="v"></button>
  <button appKeyboardKey="b"></button>
  <button appKeyboardKey="n"></button>
  <button appKeyboardKey="m"></button>
  <button class="special wide" (click)="onEnter()">Enter</button>
</div>
