<div>
  <input
    [(ngModel)]="valueInput"
    #input
    class="input-main"
    appOskInput
    type="text"
  />
</div>

<div class="auth">
  <div class="auth__input" (click)="focusInput()">
    <input
      [(ngModel)]="this.valueArray[0]"
      readonly
      type="text"
      maxlength="1"
      #txt1
      class="input input__one"
    />
    <input
      [(ngModel)]="this.valueArray[1]"
      readonly
      type="text"
      maxlength="1"
      #txt2
      class="input input__two"
    />
    <input
      [(ngModel)]="this.valueArray[2]"
      readonly
      type="text"
      maxlength="1"
      #txt3
      class="input input__three"
    />
    <input
      [(ngModel)]="this.valueArray[3]"
      readonly
      type="text"
      maxlength="1"
      #txt4
      class="input input__fourth"
    />
    <input
      [(ngModel)]="this.valueArray[4]"
      readonly
      type="text"
      maxlength="1"
      #txt5
      class="input input__fourth"
    />
    <input
      [(ngModel)]="this.valueArray[5]"
      readonly
      type="text"
      maxlength="1"
      #txt6
      class="input input__fourth"
    />
    <input
      [(ngModel)]="this.valueArray[6]"
      readonly
      type="text"
      maxlength="1"
      #txt7
      class="input input__fourth"
    />
    <input
      [(ngModel)]="this.valueArray[7]"
      readonly
      type="text"
      maxlength="1"
      #txt8
      class="input input__fourth"
    />
    <input
      [(ngModel)]="this.valueArray[8]"
      readonly
      type="text"
      maxlength="1"
      #txt9
      class="input input__fourth"
    />
    <input
      [(ngModel)]="this.valueArray[9]"
      readonly
      type="text"
      maxlength="1"
      #txt10
      class="input input__fourth"
    />
    <input
      [(ngModel)]="this.valueArray[10]"
      readonly
      type="text"
      maxlength="1"
      #txt11
      class="input input__fourth"
    />
    <input
      [(ngModel)]="this.valueArray[11]"
      readonly
      type="text"
      maxlength="1"
      #txt12
      class="input input__fourth"
    />
  </div>
</div>

<app-keyboard></app-keyboard>
